<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.basemodule2">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_batman"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_batman"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" />

</manifest>